<div class="container quit-box">
  <div class="row">
    <div class="top-message">
      <h2 class="text-center"><strong class="quit-text">本当に退会しますか？</strong></h2>
      <br></br></br></br>
      <h4 class="text-center quit-text">退会すると、会員登録情報や</h4>
      <h4 class="text-center quit-text">これまでの購入履歴が閲覧できなくなります。</h4>
      <h4 class="text-center quit-text">退会する場合は退会するをクリックしてください。</h4>
    </div>
    <br></br></br>
    <div class="col-md-4 col-md-offset-4">
      <div class="btn-toolbar">
        <%= link_to "　退会しない　", customers_my_page_path, class:"btn btn-primary pull-left btn-lg" %>
        <%= link_to "　退会する　", customers_quit_path, method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class:"btn btn-danger pull-right btn-lg" %>
      </div>
    </div>
  </div>
</div>