// Place all the styles related to the public::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#destroyall_button{
  text-align :right;
  margin-bottom : 20px;
  margin-right: 240px;
}

.cartitem-table{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

.cartitem-table th{
  background-color: #C0C0C0
}
.cartitem-table td{
  border-bottom:solid 1px #808080;
}

#top_button{
  text-align :left;
  margin-top : 20px;
  margin-left: 240px;
}

#total{
  margin-right: 240px;
}

.total-fee td{
  padding: 5px 15px;
}

#total-color{
  background-color: #C0C0C0
}

#order_button{
  text-align: center;
}