// Place all the styles related to the public::cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*カート画面*/
.title-area-cart {
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.cart-info-table {
  padding: 0 200px 30px 200px;
}


#destroyall_button{
  text-align :right;
  margin-bottom : 10px;
}

.order-button {
  padding-top: 30px;
  text-align: center;
}

.button-box {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-box > :first-child {
  margin-right: auto;
}



