// Place all the styles related to the public::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-title{
  background-color: #D8D8D8;
  padding: 4px;
  width: 30%;
}
.login-title{
  background-color: #D8D8D8;
  padding: 4px;
  width: 38%;
}
.mypage-title{
  background-color: #D8D8D8;
  padding: 4px;
  width: 21%;
  margin-bottom: 50px;
}
.signup{
  background-color: #D8D8D8;
  padding: 4px;
  width: 13%;
}
.title-area{
  margin-left: 200px;
  padding-top: 0px;
}

.customer-info-button {
  margin-bottom: 6em;
}

/*ログイン画面*/
.row-login {
  margin-top: 50px;
  padding-left: 200px;
}