// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
.container-fluid {
  height: 700px;
}

/*トップページ*/
.row-box {
  margin-top: 50px;
  height: 700px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

.main-visual {
  width: 40%;
  height: 300px;
  background-image: image-url('top.png');
  background-size: cover;
  background-position: center;
  margin: auto;
}

.main-visual-content {
  height: 150px;
  padding: 60px;
  margin: 0 auto;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
  font-size: 16px;
  font-family: 'Hannotate SC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.name {
  font-size: 16px;
}

.price {
  font-size: 16px;
}

/*Aboutページ*/
.row {
  margin-top: 50px;
}

.text-center {
  font-family: 'Hannotate SC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
