// Place all the styles related to the public::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*トップページ*/
.top-page {
  height: 1000px;
}

.row-box {
  margin-top: 50px;
  height: 700px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

// .genre-search {
//   height: 700px;
// }

.main-visual {
  width: 40%;
  height: 300px;
  background-image: image-url('top.png');
  background-size: cover;
  background-position: center;
  margin: auto;
}

.main-visual-content {
  height: 150px;
  padding: 60px;
  margin: 0 auto;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
  font-size: 16px;
  font-family: 'Hannotate SC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.name {
  font-size: 16px;
}

.price {
  font-size: 16px;
}

/*Aboutページ*/
.about-page {
  width: 100%;
  height: 1020px;
}

.row-about {
  margin-top: 50px;
}

.text-center {
  font-family: 'Hannotate SC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.shop-info {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.info-title {
  font-size: 20px;
  font-family: 'Hannotate SC', 'Avenir', YuGothic, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

.shop-info-table {
  width: 50%;
  margin: 0 auto;
}


th {
  font-size: 17px;
  text-align: center;
}

.about-footer {
  width: 100%;
  min-height: 100vh;
  position: relative;/* 相対位置 */
  box-sizing: border-box;
}

/*ログイン画面*/
.row-login {
  margin-top: 50px;
}
