// Place all the styles related to the public::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通*/
.container-fluid {
  height: 700px;
}

.row-box {
  margin-top: 50px;
  height: 700px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;

}

.genre-search {
  height: 700px;
  padding-top: 20px;
}

/*顧客商品一覧*/
.col-xs-9 {
  height: 700px;
}

.item-box {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.item-index {
  height: 280px;
  width: 280px;
  margin: 0;
}

/*顧客側商品詳細*/
.container {
  height: 700%;
  width: 100%;
}

.item-image {
  padding-top: 20px;
  height: 700px;
}

.image {
  margin: 0 0 auto auto;
}

.items {
  height: 700px;
  padding-left: 30px;
}

.item-name {
  padding-bottom: 10px;
}

.item-description {
  padding-bottom: 10px;
  font-size: 16px;
}

.item-price {
  font-size: 30px;
}

.buttons {
  padding-top: 30px;
}

/*ジャンル検索の部分テンプレート*/
.genre-title {
  text-align: center;
}

/*商品一覧・表示の部分テンプレート*/
.name {
  padding-top: 20px;
  font-size: 16px;
  text-decoration: none;
}

.price {
  font-size: 16px;
}

.genre-name {
  text-decoration: none;
}