// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*共通*/
.title-area {
  margin-top: 50px;
}

.order-info-title{
  background-color: #D8D8D8;
}

.container--fluid {
  height: 700px;
}

.submit-button {
  text-align: center;
}

.info-title {
  font-size: 20px;
  font-weight: bold;
}

/*注文情報入力画面*/
.order-info {
  height: 700px;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 16px;
}

/*注文情報確認画面*/
.order-info-table{
  height: 300px;
  padding: 50px 100px 30px 100px;
  font-size: 16px;
}

.order-info-text {
  padding: 0 100px;
  font-size: 20px;
}

/*注文完了画面*/
.complete-text {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
}

/*注文履歴一覧画面*/

/*注文履歴詳細画面*/
.order-history-show {
  height: 700px;
  padding-top: 50px;
  padding-left: 200px;
  font-size: 16px;
}