// Place all the styles related to the public::shipping_addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.address-title{
  background-color: #D8D8D8;
  padding: 4px;
  margin-bottom: 50px;
  width: 16%;
}

.edit-title{
  background-color: #D8D8D8;
  padding: 4px;
  margin-bottom: 50px;
  width: 11%;
}