<div class="container-fluid about-page">
  <div class="row row-about">

    <h1 class="text-center">
      About
    </h1>

    <main class="text-center text-about">
      </br>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </main>

    <div class="text-center table-responsive">
      <%= image_tag('public-homes-about.png', :size =>'600x400') %>
    </div>

  </div>

  <div class="row-sm-12 shop-info">
    <div class="shop-info-table">
      <p class="info-title">　店舗情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="active">　店舗名</th>
          <td>　ながのCAKE</td>
        </tr>
        <tr>
          <th class="active">　住所</th>
          <td>　〒399-3939 長野県下伊那郡高森町山吹4088-9</td>
        </tr>
        <tr>
          <th class="active">　最寄駅</th>
          <td>　長野電鉄 長野線 長野駅下車 徒歩15分</td>
        </tr>
        <tr>
          <th class="active">　電話番号　</th>
          <td>　0987-81-4321</td>
        </tr>
        <tr>
          <th class="active">　営業時間</th>
          <td>　10：00〜18：00</td>
        </tr>
        <tr>
          <th class="active">　定休日</th>
          <td>　水曜日（ネット注文は24時間受け付けております。）</td>
        </tr>
        <tr>
          <th class="active">　サービス　</th>
          <td>　Web予約有り / テイクアウト / 手土産 / 贈答用ギフト /</br>
              　地方発送（お取り寄せ） / アレルギー対応 / バースデーケーキ / バースデーケーキ（予約）</td>
        </tr>
      </table>
    </div>
  </div>
  
  <!--フッター-->
  <div class="container-fluid about-footer">
    <%= render 'layouts/footer' %>
  </div>
  
</div>

