<h1 class="text-center">
  About
</h1>

  <main class="text-center">
    ながのCakeは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </main>

  <!--<img class="fit-picture"-->
  <!--   src="../"../"../assets/images/public-about.png">-->

  <div class="text-center">
    <%= image_tag('public-homes-about.png', :size =>'600x400') %>
  </div>