// Place all the styles related to the admin::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*会員一覧画面*/
.customer-index {
  padding-top: 50px;
}

.customer-index-title{
  width: 15%;
  padding: 1px 10px;
  margin-left :100px;
  margin-bottom :50px;
  background-color: #D8D8D8;
}

/*会員詳細画面*/
.show-title-admin{
  margin-left :160px;
  margin-bottom :50px;
  margin-top: 50px;
  background-color: #D8D8D8;
  display: inline-block;
  padding: 1px 10px;
}

.customer-table{
  border-collapse: separate;
  border-spacing: 10px 20px;
}

/*会員編集画面*/
.customer-title-area {
  padding-top: 50px;
  padding-bottom: 50px;
}

.customer-edit-title {
  background-color: #D8D8D8;
}

.customer-edit-button-position {
  padding-bottom: 100px;
