// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title{
  margin-left :100px;
  margin-bottom :100px;
}

#create-btn{
  text-align: right;
}

.item-indextable{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}