<div class="title-area">
  <h3><span class="order-info-title">　注文情報確認　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-xs-12 order-info-table">

    <div class="col-xs-9">
    <!--商品情報テーブル-->
      <table class="table table-bordered">
      	<thead>
      		<tr class="success">
      			<th>商品名</th>
      			<th>単価（税込)</th>
      			<th>数量</th>
      			<th>小計</th>
      		</tr>
      	</thead>

      	<tbody>
      		<tr>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      		</tr>
      	</tbody>
      </table>
    </div>

    <div class="col-sm-3">
    <!--金額テーブル-->
      <table class="table table-bordered">
        <tr>
          <th class="success">送料</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">商品合計</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">請求金額</th>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-12">
    <!--支払方法・届先・購入ボタン-->
      <p class="order-info-text">支払方法　支払い方法が入る！</p>
      <p class="order-info-text">お届け先　住所が入る！</p>
      <div class="submit-button btn btn-success btn-lg">　購入を確定する　</div>
    </div>

  </div>
</div>