<div class="title-area">
  <h3><span class="order-info-title">　注文履歴詳細　</span></h3>
</div>

<div class="container-fluid">
  <div class="row-sm-12 order-history-show">

    <div class="col-sm-6">
    <!--注文情報テーブル-->
      <p class="info-title">注文情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="success">注文日</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">配送先</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">支払方法</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">ステータス</th>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-3">
    <!--請求情報テーブル-->
      <p class="info-title">請求情報</p>
      <table class="table table-bordered">
        <tr>
          <th class="success">商品合計</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">配送料</th>
          <td></td>
        </tr>
        <tr>
          <th class="success">御請求額</th>
          <td></td>
        </tr>
      </table>
    </div>

    <div class="col-sm-8">
    <!--注文内容テーブル-->
      <p class="info-title">注文内容</p>
      <table class="table table-bordered">
      	<thead>
      		<tr class="success">
      			<th>商品</th>
      			<th>単価（税込）</th>
      			<th>個数</th>
      			<th>小計</th>
      		</tr>
      	</thead>
      	<tbody>
      		<tr>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td></td>
      		</tr>
      	</tbody>
      </table>
    </div>

  </div>
</div>