<!--商品一覧・表示の部分テンプレート-->

<% items.each do |item| %>
  <div class="item-index">
    <%= link_to item_path(item) do %>
      <span class="item-image"><%= attachment_image_tag item, :image, :fill, 250, 150, format: 'jpeg', alt: '商品画像' %></span>
    <% end %>
    <p><%= link_to item.name, item_path(item) %></p>
    <p>￥<%= item.price %></p>
  </div>
<% end %>