<div class="container">
  <div class="row">
    <!--ジャンル検索-->
    <div class="genre-search col-lg-3">
      
    </div>
    <!--商品一覧-->
    <div class="item-index col-lg-3">
    </div>
  </div>
</div>