<% if resource.errors.any? %>
  <div id="error_explantion">
    <div class="alert-position">
      <div class="alert">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
